.clickable {
    cursor: pointer;
  }

.flotando {
    position: absolute;
    top: -6px;
    left: 0px;
    width: 100%;
    z-index: 100;
}

details {
    padding: 3% 2%  !important;
}

.purpura {
  --box-bg: lavender;
  --accent: rebeccapurple;
}

.my-3 {
 margin-top: 1.5em;
 margin-bottom: 1.5em;

}
